:root {
     --width-profile: 350px;
     --bg-profile: #202020;
     --bg-profile2: #252525;
}

@font-face {
     font-family: Inter;
     src: url('../fonts/Inter.ttf');
}

body {
     margin: 0;
     font-family: Inter, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     cursor: default;
}

.app {
     display: flex;
     min-height: 100vh;
}

.content {
     margin-left: var(--width-profile);
     width: calc(100vw - var(--width-profile));
     padding: 0 8px;
}

.hidden {
     display: none;
}

* {
     scrollbar-width: auto;
     scrollbar-color: var(--bg-profile2) #ffffff;
}

*::-webkit-scrollbar {
     width: 13px;
}

*::-webkit-scrollbar-track {
     background: #ffffff;
}

*::-webkit-scrollbar-thumb {
     background-color: var(--bg-profile2);
     border-radius: 0px;
     border: 0px solid #ffffff;
}